$main-color: #014498;
$color-tit: #222;
$color-sub: #666;
$color-white : #fff;
$font-small : 16px;
$font-midume : 18px;
$font-big : 24px;

* { // outline: 1px solid #f00; }

.Header {
    position: fixed;
    width: 100%;
    padding: 0 50px;
    color: $color-white;
    z-index: 999;

    &:hover {
        color: $color-tit;
        border-bottom: 1px solid #e4e4e4;
        background: $color-white;

        .logo {
            background: url(../../public/assets/img/logo02.png);
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 204px;
        height: 43px;
        background: url(../../public/assets/img/logo.png);
    }

    ul {
        display: flex;
        gap: 50px;
        line-height: 90px;
        font-size: $font-midume;
        font-weight: 500;

        :hover { color: #014498; }

        li {
            position: relative;
            &:hover ::before { 
                // Sass에서 & 의 의미를 반드시 알아두자...
                top: 20px;
                opacity: 1;
            }
            a {
                &::before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 0;
                    width: 6px;
                    height: 6px;
        
                    transition: 0.5s;
                    transform: translateX(-50%);
                    background-color: #014498;
                    border-radius: 3px;
                    opacity: 0;
                }
                
            }
            
        }
    }

    i {
        font-size: 41px;
        // color: $color-white;
    }
}

.Header.fixed {
    color: $color-tit;
    background: $color-white;
    border-bottom: 1px solid #e4e4e4;

    .logo {
        background: url(../../public/assets/img/logo02.png);
    }   
}}