$main-color: #014498;
$color-tit: #222;
$color-sub: #666;
$color-white : #fff;
$font-small : 16px;
$font-midume : 18px;
$font-big : 24px;

* {
    outline: 1px solid #f00;
}

.Header {
    position: fixed;
    width: 100%;
    padding: 0 50px;
    z-index: 999;

    &:hover {
        background: $color-white;
        transition: 0.3s;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $color-white;
    }

    .logo {
        width: 204px;
        height: 43px;
        background: url(../../public/assets/img/logo.png);
    }

    ul {
        display: flex;
        gap: 50px;
        line-height: 90px;
        font-size: $font-midume;
        font-weight: 500;
        // color: $color-white;
    }

    i {
        font-size: 41px;
        // color: $color-white;
    }
}

.Header:hover .container {
    color: $color-tit;
}

.Header:hover .logo {
    background: url(../../public/assets/img/logo02.png);
}

.tit {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
    font-size: $color-tit;
    border-bottom: 1px solid #222;
    margin-bottom: 30px;
}

.sub {
    font-size: 17px;
    text-align: center;
    color: #666;
    margin-bottom: 60px;
}