$ft_color_dd: #888;
$ft_color_dt: #fff;
$ft_bg: #222;

select {
    width: 100%;
    padding: 5px 15px;
    color: $ft_color_dt;
    background: $ft_bg;
    border: none;
    border-radius: 0;
}
.Footer {
    background: #222;
    color: #fff;
    padding:  30px 0 50px 0;

    .ft_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #434343;
    }

    ul {
        display: flex;
        gap: 26px;
    }

    li {
        position: relative;
        font-size: 14px;
    }

    li::after {
        content: "";
        position: absolute;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.4)
    }

    li:last-child::after { content: none; }

    .ft_btm {
        display: flex;
        margin-top: 30px;
    }

    .ft_logo {
        img {
            width: 149px;
            height: 31px;
            opacity: 0.5;
            margin-right: 50px;
        }
    }

    .ft_add {
        text-align: left;


        dl {
            display: flex;
            flex: 1;
        }

        dd {
            display: flex;
            font-size: 14px;
            font-weight: 200;
            color: $ft_color_dd;
            margin-right: 30px;
        }

        dt {
            font-size: 14px;
            font-weight: 200;
            color: $ft_color_dt;
            margin-left: 10px;
        }

        .ft_copy {
            font-size: 14px;
            font-weight: 400;
            color: $ft_color_dd;
            line-height: 2.5;
        }
    }

    .privacy_family {
        .family_select {
            width: 180px;
            font-size: 13px;
            font-weight: 300;
            border: 1px solid #fff;
            background: #222;

            ::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 2rem;
                transform: translateY(-50%);
                width: 10px;
                height: 6px;
                background-image: url(../../public/assets/img/family_img_01.png);
                }
            }
        }
}