@use 'basic';
// * { outline:  1px solid #f00; }
.Subpage {
    .itm {
        position: relative;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .itm01 {
        background-image: url(../../public/assets/img/sub_visual_01_new.jpg);
    }

    .itm02 {
        background-image: url(../../public/assets/img/sub_visual_02_new.jpg);
    }

    .itm03 {
        background-image: url(../../public/assets/img/sub_visual_03_new.jpg);
    }

    .itm04 {
        background-image: url(../../public/assets/img/sub_visual_04_new.jpg);
    }

    .itm05 {
        background-image: url(../../public/assets/img/sub_visual_05_new.jpg);
    }

    .itm06 {
        background-image: url(../../public/assets/img/sub_visual_06_new.jpg);
    }

    .Article {
        .container {
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            padding-top: 200px;
            align-items: center;
            line-height: 1.4;
            letter-spacing: -0.04em;
            color: #fff;

            .sub_t {
                margin-bottom: 50px;

                .sub_atc_sub {
                    font-size: 16px;
                    font-weight: 300;
                    opacity: 0.5;
                    margin-bottom: 20px;
                }

                .sub_atc_tit {
                    font-size: 58px;
                    font-weight: 500;
                    letter-spacing: -0.04em;
                }
            }

            .sub_nav {
                ul {
                    display: flex;
                    justify-content: flex-end;
                    // text-align: center;
                    align-items: center;
                    gap: 20px;

                    // li~li::before {
                    //     content: "";
                    //     display: inline-block;
                    //     width: 1px;
                    //     height: 13px;
                    //     margin-right: 20px;
                    //     background: #fff;
                    // }

                    li {
                        display: inline-block;
                        font-size: 18px;
                        padding-right: 20px;
                        line-height: 1;
                        border-right: 1px solid rgba(255,255,255,0.5);
                        color: #fff;

                        &:last-child {
                            border-right: none;
                            font-size: 25px;
                            border-bottom: 2px solid #fff;
                            padding-bottom: 10px;
                            padding-right: 0;
                        }
                    }
                    // .suv_nav_03 {
                    //     font-size: 25px;
                    //     line-height: 16px;
                    //     padding: 0 0 10px 0;
                    //     border-bottom: 2px solid #fff;
                    // }
                }
            }
        }
    }

    .SubInner {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 0;
        align-items: center;
        line-height: 1.4;
        letter-spacing: -0.04em;

        // h태그 margin
        .m3070 { margin: 30px 0 70px;}
        .m20 { margin-bottom: 20px; }
        
        h3 {
            font-size: 43px;
            font-weight: 500;
            color: #000;
    
            .bluetxt {
                display: inline-block;
                color: basic.$main-color;
            }
        }
    
        p {
            font-size: 18px;
            line-height: 1.8;
            color: basic.$color-sub;
    
            strong {
                font-weight: 500;
                line-height: 1.4;
                color: basic.$color-tit;
            }
        }
        .tab_nav{
            display: flex;
            border: 1px solid #ddd;
            .active {
                background: basic.$main-color;
                color: basic.$color-white;
                box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
            }
        }
        .tab_nav li {
            display: block;
            width: 33.33%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 19px;
            background: #fff;
            border-right: 1px solid #ddd;
        }
        a:last-child {  border-right: 0; }
    }
    .sub_top {
        margin: 30px 0 70px 0;
    }
    .sub_btm {
        .img_ctn { margin-bottom: 100px;}
    }
    .txcenter {
        text-align: center;
    }
    .sub3tit { margin: 80px 0 70px ;}
    .BgInner {
        background: #f5f5f5;

        .motto {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 100px 0;
            align-items: center;
            line-height: 1.4;
            letter-spacing: -0.04em;

            h3 {
                font-size: 43px;
                font-weight: 500;
                color: #000;
                margin-bottom: 20px;
            }

            ul {
                display:  flex;
                justify-content: space-between;
                li {
                    width: 32%;
                    padding: 70px 20px;
                    text-align: center;
                    border: 1px solid #ddd;
                    background: basic.$color-white;
                    .motto_des {
                        margin-top: 20px;
                        font-weight: 600;
                        .bluetxt {
                            display: inline-block;
                            color: basic.$main-color;
                        }
                    }
                }
            }
            
        } 
        .Tal {
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            padding: 100px 0;

            .brd_ul {
                display:  flex;
                justify-content: space-between;
                .brd_list {
                    width: 33.33%;
                    max-width: 300px;
                    text-align: center;
                    .motto_icon {
                        position: relative;
                        width: 90%;
                        height: 0;
                        margin: 0 auto;
                        padding-bottom: 90%;
                        border-radius: 50%;
                        background: #fff;

                        &::before {
                            content: '';
                            width: calc(100% - 22px);
                            height: calc(100% - 22px);
                            border: 1px dashed #ddd;
                            position: absolute;
                            left: 10px;
                            top: 10px;
                            border-radius: 50%;
                        }

                        img {
                            margin-top: 20%;
                        }
                        .tal_des {
                            display: block;
                            color: #000;
                            font-weight: 500;
                            font-size: 23px;
                            margin-top: 10px;
                        }
                    }
                    .brd_des {
                        padding: 20px;
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 400;
                        color: #666;
                        &::before {
                            content: '';
                            width: 10px;
                            height: 40px;
                            display: block;
                            margin: 0 auto 20px;
                            background: url(../../public/assets/img/tal_dot.png) no-repeat 0 0;
                        }
                        .bluetxt {
                            display: inline-block;
                            color: basic.$main-color;
                        }
                    }
                }
                
            }
        }
    }

    .CssInner{
        position: relative;
        margin: 100px 0;

        &::before {
            content: '';
            position: absolute;
            width: 40%;
            height: 500px;
            left: 0;
            top: 0;
            background-color: #f5f5f5;
        }

        .cscenter {
            max-width: 1200px;
            margin: 0 auto;
            padding: 100px 0;
            width: 90%;
            align-items: center;
            line-height: 1.4;
            letter-spacing: -0.04em;
            

            .csc_box {
                display: flex;
                justify-content: space-between;

                .csc_left {
                    width: 45%;
                    height: 45%;
                    box-shadow: 0 30px 30px rgb(0 0 0 / 15%);
                    z-index: 999;
                }
                .csc_right {
                    width: 45%;
                    padding-top: 50px;

                    .m20 { margin-bottom: 20px;}
                    h3 {
                        font-size: 40px;
                        font-weight: 500;
                        color: #000;
                        line-height: 1.4;
                
                        .bluetxt {
                            display: inline-block;
                            color: basic.$main-color;
                        }
                    }
                    p {
                        font-size: 18px;
                        line-height: 2.0;
                        color: #666;
                        margin-bottom: 50px;
                    }
                    .csc_time {
                        .weekd_b { background: #014498; }
                        .holid_b { background: #907e72; }

                        .csc_weekd {
                            margin-bottom: 15px;

                            span {
                                color: #014498;
                                font-size: 23px;
                                vertical-align: baseline;
                                margin-right: 10px;
                            }
                        }
                    }
                    
                    strong { 
                        padding: 2px 20px;
                        margin-right: 10px;
                        border-radius: 20px;
                        color: #fff;
                        text-align: center;
                    }   
                }
            }
        }
    }
}