.sb {}


&.itm01 {
    background-image: url('../../public/assets/img/main_m01.jpg');
}

&.itm02 {
    background-image: url('../../public/assets/img/main_m02.jpg');
}

&.itm03 {
    background-image: url('../../public/assets/img/main_m03.jpg');
}